@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @Html.ActionLink("Login", "Login", "Account") |
    @Html.ActionLink("Details", "Details") |
    @Html.ActionLink("Delete", "Delete")
</div>

<div class="row">
    <div class="col-md-4">

    </div>
</div>